@model IEnumerable<Web.Models.ObservacionViewModel>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>
    <a asp-action="Editar">Crear observacion para registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            @Html.ActionLink("Editar", "Editar", new { codigo = item.Codigo }) |
            @Html.ActionLink("Editar", "Editar", new { codigo = item.Codigo }) |
        </tr>
}
    </tbody>
</table>
