@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/A380_Takeoff_Black_and_Office_Black_on_Round_Rect_Light_Blue.svg/180px-A380_Takeoff_Black_and_Office_Black_on_Round_Rect_Light_Blue.svg.png" />
    <p>Programacion Avanzada</p>
    <p>Proyecto #1</p>
    <p>Junior Lopez Aguilar</p>
</div>
