<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/flatpickr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @*main navbar*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="Lista">Registro</a>
                        </li>

                        @*drop down consultas *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Consultas
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Aeronave" asp-action="Lista">Aeronave</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Perfil" asp-action="Lista">Perfil</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Lista">Usuarios</a>
                            </div>
                        </li>

                        @*drop down mantenimiento*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mantenimiento
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="AeronaveTipo" asp-action="Lista">Aeronave Tipo</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="EstadoVuelo" asp-action="Lista">Estado Vuelo</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Observacion" asp-action="Lista">Observacion</a>
                            </div>
                        </li>

                        @*drop down reportes*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reportes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Aeronave" asp-action="Filtrar">Aeronaves Catalogo</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Filtrar">Usuario Estados</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="EstadoVuelo" asp-action="Filtrar">Vuelos</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Observacion" asp-action="Filtrar">Observaciones</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Aeronave" asp-action="ReporteDesperfecto">Aeronaves con desperfecto</a>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Aeronave" asp-action="ReporteObservacionPrioritaria">Aeronaves con observacion prioritaria</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/flatpickr.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
